.search-field {
  padding: 50px 0;
  display: flex;
  justify-content: center;

  &__input {
    border-radius: 6px;
    color: #000;
    border: 1px solid #aaa;
    outline: none;
    padding: 5px 15px;
    font-size: 22px;
    width: 400px;
  }

  &__btn {
    margin-left: 15px;
  }
}
