.weather-card {
  height: 200px;
  width: 200px;

  border: 1px solid #fff;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
  background-color: rgba(#000, 0.8);
  position: relative;
  &__title {
    font-size: 24px;
    font-weight: 700;

    text-align: center;
    padding: 5px 0;
  }

  &__descr {
    font-size: 16px;
    text-align: center;
  }

  &__img {
    margin: 10px auto;
    max-width: 50px;
  }

  &__country {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 14px;
    font-weight: 700;
  }

  &__temp {
    font-size: 32px;
    margin: 15px 0;
    font-weight: 700;
    text-align: center;

    color: #85c1e9;
  }

  &__delete {
    position: absolute;
    top: -10px;
    right: 0px;
    font-size: 40px;
    color: #ec7063;
    display: none;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &:hover {
    .weather-card__delete {
      display: block;
    }
  }
}
